<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578987199728-tfk84gnrie5kuir3742sa9hquumkg3p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578987199728-tfk84gnrie5kuir3742sa9hquumkg3p2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578987199728-3mic26nh07gbqdccqns2iq9n7776ntsg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKkuczVYWExQuUqkV5tiKtRZoj6ADbhdc</string>
	<key>GCM_SENDER_ID</key>
	<string>578987199728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidyamantra.cmoodleapp192</string>
	<key>PROJECT_ID</key>
	<string>vidyamantra-1ce46</string>
	<key>STORAGE_BUCKET</key>
	<string>vidyamantra-1ce46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578987199728:ios:826fc1fc879cc52ca3c635</string>
	<key>DATABASE_URL</key>
	<string>https://vidyamantra-1ce46.firebaseio.com</string>
</dict>
</plist>